:root {
    --navbar-color: #bbd2e8;
    --navbar-text-color: #fff;
    --navbar-hover-color: #99b2c7;
    --text-color: #1c1c1c;
    --background-color: #f5f5f5;
}

body {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

li {
    list-style: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(95, 95, 95, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--text-color);
    padding: 1rem;
    height: 100vh;
    width: 30vw;
    box-shadow: 0 0 10px 0 rgba(95, 95, 95, 0.3);
}

.main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    height: 100vh;
    width: 70vw;
}

.todo-text {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

input[type="checkbox"]:checked + .todo-text {
    text-decoration: line-through;
    color: var(--navbar-hover-color);
}

.navbar-title {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.add-todo {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: 1.2rem;
    font-size: 16px;
    font-weight: 550;
}

.add-todo:hover {
    background-color: var(--navbar-hover-color);
}